# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# Logs
logs
*.log
log/
debug.log

# Build / Output
dist/
build/
.vite/
.cache/
.next/
out/

# Backend
server/node_modules/
server/dist/
server/.env

# System files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace